<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add project</title>

</head>
<body><link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <div class="container">
        <h1>New project:</h1>
        <form action="/addproject"
              th:object="${projectform}" method="post">
            <p>Name:
                <input type="text" th:field="*{name}"/>
            </p>
            <p>Description:
                <input type="text" th:field="*{description}"/>
            </p>
            <input type="submit" value="Add"/>
        </form>
        <form method="get" action="/allprojects">
            <input type="submit" value="Back"/>
        </form>
    </div>
    <div th:if="${errorMessage}" th:utext="${errorMessage}"
        style="color: red; font-style: italic"></div>
</body>
</html>